body {
  background-color: var(--beckground-color);
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

main {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

/* Responsavel pela ilustração a direita */
.container-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  top: 140px;
  left: 56vw;

}

/* Container do formulario em se */
.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 35vw;
  padding: 64px;
  gap: 48px;
}

/* Parte do cabeçalho */
.container-hearder {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Opção de voltar --- a e span(a seta) */
.container-hearder a {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: var(--text-secondary-color);
  gap: 8px;
}

.container-hearder a span {
  background-image: url("assets/arrow-left-02.svg");
  width: 24px;
  height: 24px;
  display: flex;
}

.container-hearder div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.container-hearder div h1 {
  font-size: 24px;
  font-weight: 600;
  color: var(--text-primary-color);
}

.container-hearder div p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

/* Estilos do formulário */
#cadastro {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#cadastro h2 {
  /* Titulo do formulario */
  font-size: 16px;
  font-weight: 600;
  color: var(--text-primary-color);
}

/* Estilo dos campos de informações do participante */
.form-infos {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Estilo padrão para quando campo estiver vasio ao enviar*/
.error {
  border: 1px solid var(--error-color) !important;
  outline: none;
}

/* Estilo mensagem de erro */
.mensagemErro {
  gap: 4px;
  color: var(--error-color) !important;
  font-size: 14px;

}

.mensagemErro::before {
  content: url("assets/alert-circle.svg");
  width: 20px;
  height: 20px;
}

/* Estilhos dos campos do formulario do tipo text */

.campos {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.campos label {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.campos input {
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  border: 1px solid var(--stroke-defaut-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-primary-color);
}

.campos input:focus {
  border: 1px solid var(--stroke-highlight-color);
  outline: 2px solid var(--surface-secondary-color);
}

.campos input::placeholder {
  color: var(--text-tertiary-color);
}

/* Estilos do campo Sexo que é um select */
.campos select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: url(assets/arrow-down.svg) no-repeat right 12px center;
  padding: 12px;
  border: 1px solid var(--stroke-defaut-color);
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.campos select:focus {
  border: 1px solid var(--stroke-highlight-color);
  outline: 2px solid var(--surface-secondary-color);
}

.campos select:valid {
  color: var(--text-primary-color);
}

.campos input:hover,
.campos select:hover {
  outline: 2px solid var(--surface-secondary-color);
}

/* Estilos dos campos de envio de documento */
.campos-documento label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.campos-documento div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  height: 160px;
  border: 2px dashed var(--stroke-defaut-color);
  border-radius: 8px;
  cursor: pointer;
}

.campos-documento div:hover {
  border-color: var(--primary-color);
}

.campos-documento div img {
  width: 48px;
  height: 48px;
  opacity: 0.6;
}

.campos-documento div span {
  width: 163px;
  height: 48px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: var(--text-tertiary-color);
}

.campos-documento div input {
  display: none;
}

/* Estilo dos campos de endereço residencial */
.form-address {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Estilos dos campos Rua - Numero e Cidade - Estado */
.campos-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

#rua, #city {
  display: flex;
  width: 332px;
}

#numero, #uf {
  box-sizing: border-box;
}

/* Estilo dos campos de trilhas */
.form-trilhas {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-trilhas p {
  font-size: 16px;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.trilhas {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 15px;
  gap: 8px;
}

#trilhas {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 256px;
  height: 120px;
  border: 2px solid var(--stroke-defaut-color);
  ;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

#trilhas:hover {
  border-color: #fba079;
  background-color: #f9eee6;
}

#trilhas p {
  margin-top: 2vh;
  font-size: 16px;
}

#trilhas img {
  padding-top: 30px;
  gap: 10px;
  width: 40px;
  height: 40px;
}

#trilhas input[type="radio"] {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  appearance: none;
  background-color: white;
  border: 2px solid var(--stroke-defaut-color);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  transform: translate(-110px, 20%);
  /* opacity: 0.5;  */
}

#trilhas input[type="radio"]:checked {
  border: none;
  background-color: var(--stroke-highlight-color);
  -webkit-animation: puls 0.7s forwards;
  -moz-animation: pulse 0.7s forwards;
  animation: pulse 0.7s forwards;
}

#trilhas input[type="radio"]:before {
  content: "✔";
  color: white;
  border-radius: 50%;
  transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
  transform: scale(0);
}

#trilhas input[type="radio"]:checked::before {
  height: 19px;
  transform: scale(1.1);
}

/* Estilo Termos e condições */
.form-termos {
  display: flex;
  align-items: flex-start;
  font-size: 16PX;
  font-weight: 400;
  color: var(--text-secondary-color);
}

.form-termos p {
  margin-left: 36px;
}

.form-termos a {
  text-decoration: none;
  color: var(--text-highlight-color);
}

.form-termos a:hover {
  text-decoration: underline;
}

.form-termos input {
  appearance: none;
  position: absolute;
  border: 1.5px solid var(--stroke-defaut-color);
  border-radius: 5.5px;
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.form-termos input:checked {
  color: white;
  font-size: 16px;
  background-color: var(--stroke-highlight-color);
  border: none;
  animation: pulse 0.7s forwards;
}

.form-termos input:checked::before {
  content: "✔";
  display: flex;
  height: 17px;
  align-items: center;
  justify-content: center;
  transform: scale(0.9);
  
}

/* Estilo dos botões */
.form-botoes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(243, 84, 28, 0.4);
  }

  70% {
    box-shadow: 0 0 0 8px rgba(243, 84, 28, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(243, 84, 28, 0);
  }
}