@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
  --primary-color: #f67841;
  --secondary-color: #f3541c;
  --highlight-color: #e43a12;
  --background-color: #2135a6;
  --text-primary-color: #292524;
  --text-secondary-color: #57534e;
  --text-tertiary-color: #8f8881;
  --text-highlight-color: #e43a12;
  --surface-primary-color: #ffffff;
  --surface-secondary-color: #fee7d6;
  --surface-disabled-color: #e7e5e4;
  --stroke-defaut-color: #d6d3d1;
  --stroke-highlight-color: #f3541c;
  --error-color: #dc2626;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}